.body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 80px;
  background: url(../public/bgg.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}
