* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.doctor-card {
  position: relative;
  margin: 0 16px;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgb(0 0 0 / 4%);
  font-size: 13px;
  line-height: 20px;
  transition: all 0.3s ease;
}

.doctor-card--oncheck {
  background-color: #fff9f2e7;
}

.all_info {
  padding: 20px;
  display: flex;
  align-items: center;
  min-height: 250px;
}

.right_info {
  width: 380px;
  font-size: 20px;
}

.info-with-buttons {
  display: flex;
}

.main-info {
  width: 85%;
}

h3.this-name {
  opacity: 0.8;
  margin-bottom: 8px;
}

.job-name {
  font-size: 17px;
}

.experience-p {
  color: rgba(0, 0, 0, 0.64);
  font-size: 16px;
}

.experience-marker {
  display: inline-block;
  top: 50%;
  left: 3px;
  width: 4px;
  height: 4px;
  margin-top: -1px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.64);
  vertical-align: middle;
}

.right_info hr {
  width: 95%;
  height: 2px;
  margin: 15px auto;
  color: rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.15);
  border: 0px none;
}

.work-place-p {
  font-size: 16px;
  color: #00a8b4;
}

.work-name {
  color: rgba(0, 0, 0, 0.65);
}

.click-buttons-doc {
  display: flex;
  padding-top: 8px;
}

@media (max-width: 700px) {
  .right_info {
    width: 56%;
  }
}

@media (max-width: 700px) {
  .doctor-card {
    margin: 0 8px; 
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 6px;
    font-size: 12px;
    line-height: 18px;
  }
  
  .all_info {
    padding: 16px;
    min-height: 260px;
  } 
  
  .right_info {
    width: 64%;
    font-size: 18px;
  }
  
  h3.this-name {
    margin-bottom: 6px;
  }
  
  .job-name {
    font-size: 15px;
  }
  
  .experience-p {
    font-size: 14px;
  }
  
  .work-place-p {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .doctor-card {
    font-size: 11px;
    line-height: 15px;
  }
  
  .all_info {
    padding: 12px;
    min-height: 210px;
  } 
  
  .right_info {
    font-size: 16px;
  }
  
  h3.this-name {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .job-name {
    font-size: 14px;
  }
  
  .experience-p {
    font-size: 13px;
  }
  
  .right_info hr {
    height: 1px;
    margin: 7px auto;
  }
  
  .work-place-p {
    font-size: 13px;
  }
}