.header {
  position: relative;
  z-index: 4;
  height: 48px;
  display: flex;
  align-items: center;
  align-content: flex-start;
  color: #fff;
  background-color: #46cdd6;
  padding-right: 0;
  padding-left: 24px;
  box-sizing: border-box;
}
