* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

.clinic-wrapper {
  position: relative;
  margin: 0 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgb(0 0 0 / 4%);
  font-size: 13px;
  line-height: 20px;
}

.clinic-wrapper--oncheck {
  background-color: #dadadae7;
}

.clinic-wrapper:not(:first-child) {
  margin-top: 16px;
}

.info-with-logo {
  display: flex;
}

.clinic-main-info {
  width: 85%;
}

.clinic-what-is-it {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.48);
  letter-spacing: 0.08em;
  font-size: 12px;
  white-space: nowrap;
  margin-bottom: 8px;
  line-height: 16px;
}

.clinic-info-wrapper {
  padding-bottom: 0;
  margin-bottom: 16px;
  width: 100%;
}

.clinic-name {
  padding-right: 8px;
  font-size: 21px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  vertical-align: top;
}

.other-info-div {
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.96);
}

.this-address {
  max-width: 100%;
  margin-right: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.this-time {
  position: relative;
  padding-left: 14px;
}

.work-marker {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 3px;
  width: 4px;
  height: 4px;
  margin-top: -1px;
  border-radius: 50%;
  background-color: #ed4343;
  vertical-align: middle;
}

.work-marker--opened {
  background-color: #21c286;
}

.description-div {
  margin-bottom: 16px;
  font-size: 15px;
  text-indent: 22px;
  text-align: justify;
  max-height: 120px;
  overflow-y: scroll;
}

.description-div::-webkit-scrollbar {
  display: none;
}

.staff-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.staff-items {
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 36px;
  float: left;
  padding: 2px;
  overflow: hidden;
  border-radius: 16px;
  z-index: 1;
}

.staff-button {
  margin-top: 2px;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  line-height: 32px;
  border-radius: 16px;
  padding: 0 12px;
  background-color: rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-in-out;
}

.click-buttons {
  display: flex;
}

.star-button,
.phone-button {
  position: relative;
  display: block;
  overflow: hidden;
  height: 32px;
  width: 32px;
  margin-right: 8px;
  padding: 12px 14px;
  border-radius: 50%;
  box-shadow: none;
  z-index: 1;
  color: #fff;
  background-color: #46cdd6;
  transition: all 0.2s ease-in-out;
}

.star-button {
  margin-right: 0;
  background-color: rgba(0, 0, 0, 0.04);
}

.phone-button:hover {
  background-color: #5ed6df;
}

.star-button:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.star-button:hover img {
  filter: invert(0);
}

.phone-button img {
  position: absolute;
  width: 16px;
  left: 8px;
  top: 8px;
  transform: scale(-1, 1);
  filter: invert();
}

.star-button img {
  position: absolute;
  width: 20px;
  left: 6px;
  top: 6px;
  filter: invert(0.4);
  transition: all 0.2s ease-in-out;
}
