* {
    box-sizing: border-box;
}

.service-content-wrapper {
    height: 412px;
}

.service-content {
    display: flex;
}

.service-item {
    width: 25%;
}

.service-item:not(:last-child) {
    margin-right: 4px;
}

.service-item a {
    display: block;
    position: relative;
    width: 100%;
    border-radius: 3px;
    line-height: 0;
}

.service-item a:hover {
    opacity: 0.8;
}

.service-item:nth-child(odd) a {
    height: 100%;
}

.service-item:nth-child(even) a {
    height: auto;
}

.service-item:nth-child(even) a:first-child {
    margin-bottom: 4px;
}

.service-item a img {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    background-color: rgba(0,0,0,.04);
}